---
layout: default
title: "Dog"
---
<div class="introduction">
  <h1>Home</h1>

<p>Working project site for "Encyclopedia of the Dog: Annotations to Sokolov's <em>Between Dog and Wolf</em>".</p>
</div>

<hr>

<div class="toc">
  <h2>Chapters</h2>
  <ul class="texts">
  {% for item in site.texts %}
    {% if item.public == true %}

    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  <p>Questions about this site? Email <a href="mailto:digitalscholarship@brynmawr.edu">digitalscholarship@brynmawr.edu</a>.</p>
</div>